<p>
  add-blog-post works!
</p>

<h2>Enter your blog post</h2>

<div>
    <form>
      <div class="form-group container">
        <label for="blogPostTitle">Enter your Blog post title:</label>
        <input type="text" class="form-control" id="blogPostTitle" [(ngModel)]="blogTitle" aria-describedby="emailHelp"
          placeholder="Enter the blog title" name="blogPostTitle">
      </div>
    </form>
  </div>
  
  <div>
    <form>
      <div class="form-group container">
        <label for="blogPostBody">Enter your blog post: (Optional)</label>
        <textarea type="text" class="form-control" id="blogPostBody" [(ngModel)]="blogPostBody" 
        placeholder="Enter the blog description" name="blogPostBody" rows="15"></textarea>
      </div>
    </form>
  </div>
  <div>
    <button id="saveButton" (click)="addBlogPost()" class="btn btn-primary">Save</button>
  </div>